<!DOCTYPE html>

{% load static %}
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>othDev95's blog</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'wtf/base.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="blog-title"><h1>othdev95's blog</h1></div>
        <form action="" class="search">
          <input type="text" placeholder="Search" />
          <button type="submit">Search</button>
        </form>
      </header>

      <main class="main">
        <div class="nav-bar">
          <ul class="nav-ul">
            <li class="nav-item"><a href="">About othdev95</a></li>
            <div class="divider"></div>
            <li class="nav-item"><a href="">Project</a></li>
            <div class="divider"></div>
            <li class="nav-item"><a href="">Post</a></li>
            <div class="divider"></div>
            <li class="nav-item"><a href="">hi ram ji</a></li>
            <div class="divider"></div>
          </ul>
        </div>

        <div class="content">
          {% block content %}
          {% endblock %}
        </div>

      </main>

      <footer class=" footer">
        <p>© 2019 All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
