<!DOCTYPE html>
{% extends 'blog/base.html' %} {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}

    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    <h4>
      just check my git:

      <a href="https://github.com/ohtaehyun" title="othdev95's github">
        click here!
      </a>
    </h4>

    {% endblock %}
  </body>
</html>
