*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  min-width: 620px;
  height: 100%;
  margin: 0%;
  overflow: auto;
}

.container {
  height: 100%;
  max-width: 1240px;
  margin: auto;
}

/* Header */
.header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 10px 20px 10px 40px;
}

.blog-title > h1 {
  display: inline-block;
  font-family: "Lobster", cursive;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}
p,
h4 {
  display: inline-block;
}

.search-form {
  display: inline;
  position: absolute;
  top: 40%;
  right: 20px;
}

.search-form > input[type="text"] {
  display: block;
  width: 250px;
  height: 100%;
  text-indent: 2px;
  border: none;
  border-radius: 6px;
  padding: 0;
  padding-right: 20%;
}

.search-form > input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.08);
}

.search-btn {
  padding: 0px;
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}

.search-btn:focus {
  outline: none;
}

.search-btn:hover {
  color: #fafafa;
  border-radius: 0 6px 6px 0;
  background-color: black;
}

/* Main */
.main {
  position: relative;
  background-color: #fafafc;
  height: 100%;
}

.nav-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fafafa;
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  height: 100%;
}

.nav-ul {
  display: block;
  padding: 0;
}
.nav-item {
  list-style-type: none;
  display: block;
  padding: 5px 20px;
  height: 30px;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
}

.content {
  /* margin-top: 40px; */
  margin-left: 200px;
  /* width: fit-content; */
  padding-top: 40px;
  padding-right: 40px;
  display: block;
}

/* Footer */
.footer {
  text-align: right;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.08);
}
