*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  min-width: 620px;
  height: 100%;
  margin: 0%;
  overflow: auto;
}

.container {
  height: 100%;
  max-width: 1240px;
  margin: auto;
}

/* Header */
.header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 10px 20px 10px 40px;
}

.blog-title,
h1 {
  display: inline-block;
  font-family: "Lobster", cursive;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}
p,
h4 {
  display: inline-block;
}

.search {
  display: inline;
  position: absolute;
  top: 40%;
  right: 20px;
}

.search > input[type="text"] {
  border-radius: 10px;
  border-style: inset;
  outline: none;
  text-indent: 2px;
}

/* Main */
.main {
  position: relative;
  background-color: #fafafc;
  height: 100%;
}

.nav-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fafafa;
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  height: 100%;
}

.nav-ul {
  display: block;
  padding: 0;
}
.nav-item {
  list-style-type: none;
  display: block;
  padding: 5px 20px;
  height: 30px;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
}

.content {
  margin-top: 40px;
  margin-left: 200px;
  width: 60%;
  display: inline-block;
}

/* Footer */
.footer {
  text-align: right;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.08);
}
