*,
*::before,
*::after {
  box-sizing: border-box;
}
.post {
  height: 45px;
  line-height: 45px;
}
.post > p {
  float: right;
}

.post > h1 {
  display: inline-block;
}

.post > h1 > a:hover {
  color: blue;
}
